body > header{
    background-color: grey;
    height: 300px;
    margin: 0;
    padding: 0;
}

/* Flexbox used  */
header > ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bolder;
    position: relative;
    max-width: 50rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.header_h1{
    font-size: 50px;
    color: white;
    margin: 30px;
}

@media only screen and (max-width: 700px) {
    body > header{
        background-color: grey;
        height: 400px;
        width: 100%;
    }
    header > ul > li> a{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    body > header{
        background-color: grey;
        height: 400px;
        width: 370px;
    }

}